.font-archivo{
    font-family: "Archivo" !important;
}

.font-inter{
    font-family: "Inter" !important;
}

.font-rubik{
    font-family: "Rubik" !important;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
